@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron" style="background:none;">
        <h1>WManager</h1>
        <p class="lead">Dobrodošli na našu aplikaciju, mi smo kompanija specijalizovana za izradu aplikacija za skladištenje raznih vrsta artikala i materijala.</p>

    </div>

    <div class="row">
        <div class="col-md-6">
            <span>
                <img src="~/Content/Images/background.jpg" style="width:100%;"/>
            </span>
        </div>
        <div class="col-md-6">
            <h2>Kratak opis aplikacije</h2>
            <p>
                Ovo je osnovna verzija naše aplikacije. 
                Sa ovom konfiguracijom možete vršiti manipulacije podataka kako o radnicima, tako i o artiklima smeštenim u vašoj aplikaciji. 
                Takođe, moguće je pratiti sve izlazne otpremnice.
                Kompletno uputstvo se nalazi u korisničkoj dokumentaciji.
            </p>            
        </div>
    </div>
<div class="row">
    <div class="col-md-6">
        <br />
        <br />
        <br />
        <h2>Kontakt služba</h2>
        <p>
            Ukoliko imate neke zahteve za unapređenjem, ili želite nešto da promenite,
            slobodno kontaktirajte našu tehničku podršku na neki od sledećih načina:<br />
            Email - wmanager@mail.com<br />
            Telefon - 011/1234-567<br />
            Adresa - Neznanog Junaka BB<br />
            i naš tim će vam u najkraćem roku zakazati sastanak.
        </p>
    </div>
    <div class="col-md-6">
        <span>
            <img src="~/Content/Images/support.png" style="width:100%;" />
        </span>
    </div>
</div>
<hr />
<h3 align="center">Tim koji je radio na izradi ovog projekta</h3>
<hr />
    <div class="row">
        <div class="col-md-4">
            Ivan Šeguljev<br />
            Broj indeksa: 265/16<br/>
            Studijski smer: IT<br />
            Godina studija: 3
        </div>
        <div class="col-md-4">
            Nemanja Živanović<br />
            Broj indeksa: 68/16<br />
            Studijski smer: IT<br />
            Godina studija: 3
        </div>
        <div class="col-md-4">
            Katarina Jovanić<br />
            Broj indeksa: 75/16<br />
            Studijski smer: IT<br />
            Godina studija: 3
        </div>
    </div>


